
/* * {
  overflow-x:hidden;
} */

* {
  font-family: 'adelle';
}


.light {
  font-family: 'adelle-ultrathin';
font-weight: 100;
font-style: normal;
}

.App {
  /* text-align: center; */
  overflow-x: hidden !important;
}

a:hover{
 text-decoration:none;
}