
/* * {
  overflow-x:hidden;
} */

* {
  font-family: 'adelle';
}


.light {
  font-family: 'adelle-ultrathin';
font-weight: 100;
font-style: normal;
}

h1 {
  font-size:1.5rem;
}

.App {
  /* text-align: center; */
  overflow-x: hidden !important;
}

a:hover{
 text-decoration:none;
}

a, button, h3, h4, h5, li, p {
  letter-spacing:.1rem;
}


.login-screen {
  position:fixed;
  height:100vw;
  width:100vh;
  background-color:rgb(237, 237, 237);
}